#app {
  width: 100%;
  height: 100vh;
}

div, view {
  display: block;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  font-size: 16px;
}

@media screen and (height: 1080px) {
  html {
    font-size: 17.5px;
  }
}
